<!DOCTYPE html>
<html>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <title>Home</title>
    <link rel='stylesheet' href='../static/css/style.css'>
</head>

<body>
    <header>
        <div class='logo'>🛡 PhishGuard</div>
        <nav><a href='/'>Home</a><a href='/scan'>Scan</a><a href='/history'>History</a><a
                href='/login'>Login</a><a href='/register'>Register</a></nav>
    </header>
    <div class="hero">

<div class="hero-content">

<h1>
Protect Yourself From
<span>Phishing Attacks</span>
</h1>

<p>
Analyze suspicious websites before clicking.
Our intelligent phishing detection system performs
multiple security checks including HTTPS verification,
IP detection, suspicious keyword analysis and
VirusTotal integration.
</p>

<center><a href="/scan" class="btn">

🔍 Scan URL Now

</a></center>

</div>

</div>

<section class="features">

<center><h2>Our Features</h2></center>

<div class="card-container">

<div class="card">

<h3>🔒 HTTPS Detection</h3>

<p>
Checks whether the website uses a secure HTTPS connection.
</p>

</div>

<div class="card">

<h3>🌐 URL Analysis</h3>

<p>
Detects suspicious keywords, long URLs and hidden tricks.
</p>

</div>

<div class="card">

<h3>🦠 VirusTotal</h3>

<p>
Ready for VirusTotal API integration for malware analysis.
</p>

</div>

<div class="card">

<h3>📜 Scan History</h3>

<p>
Every logged-in user can view previous scan reports.
</p>

</div>

</div>

</section>

<section class="features">

<center><h2>Why Choose PhishGuard?</h2></center>

<div class="card-container">

<div class="card">

<h3>⚡ Fast Detection</h3>

<p>

Instant phishing analysis in seconds.

</p>

</div>

<div class="card">

<h3>🛡 Secure Browsing</h3>

<p>

Stay protected from fake websites before opening them.

</p>

</div>

<div class="card">

<h3>📊 Smart Reports</h3>

<p>

Easy-to-read reports with security status and VirusTotal results.

</p>

</div>

</div>

</section>

<footer>

<center><h2 style="color:#58a6ff;">
🛡 PhishGuard
</h2>

<p>Protecting users from phishing attacks.</p></center>

</footer>
    <script src='../static/js/script.js'></script>
</body>

</html>