<!DOCTYPE html>
<html>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <title>Scan</title>
    <link rel='stylesheet' href='../static/css/style.css'>
</head>

<body>
    <header>
        <div class='logo'>🛡 PhishGuard</div>
        <nav><a href='/'>Home</a><a href='/scan'>Scan</a><a href='/history'>History</a><a
                href='/login'>Login</a><a href='/register'>Register</a></nav>
    </header>
    <div class='container'>
        <div class='card'>
            <h2>Scan URL</h2><input id='url' class='input' placeholder='https://example.com'><br><br>
            <button class='btn'
                onclick='scanURL()'>Scan</button>
            <p id='status'></p>
            <div id='result' class='hidden'>
                <h3>Result</h3>

                <p id='safe'></p>

                <h4>VirusTotal</h4>
                <p id="vtStatus"></p>
                <p id="vtHarmless"></p>
                <p id="vtMalicious"></p>
                <p id="vtSuspicious"></p>
            </div>
        </div>
    </div>
    <script src='../static/js/script.js'></script>
</body>

</html>